@font-face {
    font-family: "hangang";
    src: url("/static/hangang.woff") format('woff');
}
@font-face {
    font-family: "jura";
    src: url("/static/jura.woff") format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: "hangang";
    font-size: 0.8em;
    min-height: 1000px;
    background-color: #ffffff;
}

div#signin-box {
    float: right;
}

div#wrapper {
    overflow: auto;
    margin: 0 auto 0 auto;
    width: 1024px;
}

div#header {
    background-color: white;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #999999;
}

div#footer {
    background-color: white;
    width: 100%;
    margin: 0;
    border-top: 2px solid #999999;
    text-align: right;
}

div#tail {
    text-align: right;
}

div#tail > img {
    border-bottom: 2px;
}

div#header > p {
    font-family: "jura";
    font-size: 3em;
    color: #444444;;
    margin: 0;
    padding: 0.1em 0.1em 0.1em 0.3em;
}

div#sidebar {
    background-color: #333333;
    width: 200px;
    font-family: "jura";
    float: left;
}

div#sidebar > span {
    display: block;
    width: 100%;
    color: #999999;
    font-size: 0.3em;
    text-align: right;
}

div.article {
    margin: 5px 5px 20px 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

div.label {
    font-family: "jura";
    display: inline-block;
    border: 2px solid #666666;
    background-color: white;
    width: 100px;
    vertical-align: top;
}

.label > .date {
    text-align: center;
    width: 60px;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 3em;
}

.label > .month-year {
    width: 40px;
    display: inline-block;
    font-size: 1.5em;
}

.label .month {
    width: 40px;
    display: inline-block;
    line-height: 25px;
    font-size: 1em;
}

.label .year {
    width: 40px;
    display: inline-block;
    line-height: 20px;
    font-size: 0.9em;
    color: #666666;
}

.label > .time {
    display: none;
    font-size: 1em;
    text-align: right;
}

#wrapper > .content {
    display: inline-block;
    background-color: #eeeeee;
    min-height: 100px;
    width: 100%;
    padding-bottom: 2px;
    padding-right: 2px;
    line-height: 2em;
}

.content img {
    width: 24px;
    height: 24px;
}

.article .title {
    display: inline-block;
    font-size: 1.5em;
    line-height: 50px;
    padding-left: 10px;
}

.header span {
    font-size: 0.1em;
}

.article > .content {
    padding-top: 10px;
}
