@font-face {
    font-family: "hangang";
    src: url("/static/hangang.woff") format('woff');
}
@font-face {
    font-family: "jura";
    src: url("/static/jura.woff") format('woff');
}

body {
    font-family: "hangang";
    font-size: 0.8em;
    background-color: #ffffff;
}

div.article {
    margin: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

div.label {
    font-family: "jura";
    display: inline-block;
    border: 2px solid #666666;
    background-color: white;
    width: 100px;
    vertical-align: top;
}

.label > .date {
    text-align: center;
    width: 60px;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 3em;
}

.label > .month-year {
    width: 40px;
    display: inline-block;
    font-size: 1.5em;
}

.label .month {
    width: 40px;
    display: inline-block;
    line-height: 25px;
    font-size: 1em;
}

.label .year {
    width: 40px;
    display: inline-block;
    line-height: 20px;
    font-size: 0.9em;
    color: #666666;
}

.label > .time {
    display: none;
    font-size: 1em;
    text-align: right;
}

.article > .content {
    display: inline-block;
    min-height: 100px;
    margin: 0 10px 0 10px;    
    width: 600px;
}

.article .title {
    font-size: 1.5em;
}

.header {
    font-family: "jura";
    width: 800px;
    margin: 0 auto;
    font-size: 3em;
}

.header span {
    font-size: 0.1em;
}

body > .content {
    width: 800px;
    margin: 0 auto;
    background-color: #eeeeee;
    overflow: hidden;
}

.content .artifle {
    
}